html,
body {
    height: 100%;
    background-color: #36393e;
    color: rgb(180, 179, 179);
}

a {
    color: rgb(139, 95, 95);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}